// - - - - - - - - - - - - - - - - - -

// Basics

// - - - - - - - - - - - - - - - - - -

@keyframes circle-one {
	0% {top: 0;}
	45% {top: 0;}
	55% {top: 16px;}
	100% {top: 16px;}
}
  
@keyframes circle-two {
	0% {bottom: 0;}
	45% {bottom: 0;}
	55% {bottom: 16px;}
	100% {bottom: 16px;}
}
  
@keyframes line {
	0% {transform: rotate(0deg);}
	45% {transform: rotate(0deg);}
	55% {transform: rotate(180deg);}
	100% {transform: rotate(180deg);}
}

@keyframes circle-one-hover {
	0% {top: 0;}
	100% {top: 16px;}
}
  
@keyframes circle-two-hover {
	0% {bottom: 0;}
	100% {bottom: 16px;}
}
  
@keyframes line-hover {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}
}

.loader {
	.overline-mark {
		.circle-one {
			animation-name: circle-one-hover;
			animation-duration: .7s;
			animation-iteration-count: infinite;
		}
		.circle-two {
			animation-name: circle-two-hover;
			animation-duration: .7s;
			animation-iteration-count: infinite;
		}
		.line {
			animation-name: line-hover;
			animation-duration: .7s;
			animation-iteration-count: infinite;
		}
	}
}

.overline-mark {
	display: block;
	position: relative;
	height: 56px;
	width: 56px;
	
	* { 
		animation-duration: 7s;
		animation-iteration-count: infinite;
		position: absolute;
	}

	&:hover * {
		animation-duration: 0.5s;
		animation-iteration-count: 1;
	}	
  
	.circle-one,
	.circle-two {
		width: 40px;
		height: 40px;
		left: calc(50% - 20px);
		border: 2px solid #000;
		border-radius: 24px;
		display: block;
	}
	
	.circle-one {
		top: 0;
		animation-name: circle-one;
	}
	
	.circle-two {
		bottom: 0;
		animation-name: circle-two;
	}
	
	.line {
		width: 56px;
		top: calc(50% - 1px);
		left: 0;
		right: 0;
		height: 2px;
		background: #000;
		animation-name: line;
	}
	
	&:hover {
		.circle-one {animation-name: circle-one-hover;}
		.circle-two {animation-name: circle-two-hover;}
		.line {animation-name: line-hover;}
	}
	
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Basics

html, body {
	height: 100%;
}

body {
	background: $background-color;
	font-family: $body-font;
	font-weight: $regular-weight;
	font-style: normal;
	line-height: 1.5;
	color: $text-dark-color;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

iframe {
	max-width: 100%;
}

.mobile-hide {
	display: none;
}

@include mq(tabletp) {
	.mobile-hide {
		display: block;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Typography

.text-center {
	text-align: center;

	img, p {
		margin-left: auto;
		margin-right: auto;
	}
}

.no-wrap {
	white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	color: $text-dark-color;
	white-space: pre-line;
	margin-bottom: 1.5rem;

	&:first-child {
		margin-top: 0;
	}
}

h1, .displayXLarge {
	font-family: $title-font;
	color: $text-dark-color;
	font-size: 40px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.01em;
	margin-bottom: 2rem;

	@include mq(tabletp) {
		font-size: 72px;
	}

}

h2, .displayLarge {
	font-family: $title-font;
	color: $text-dark-color;
	font-size: 32px;
	font-weight: 400;
	line-height: 1.25;
	letter-spacing: -0.01em;

	@include mq(tabletp) {
		font-size: 32px;
	}

	@include mq(laptop) {
		font-size: 32px;
	}
}

h3, .displayMedium {
	font-family: $title-font;
	color: $text-dark-color;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.01em;

	@include mq(tabletp) {
		font-size: 24px;
	}

	@include mq(laptop) {
		font-size: 24px;
	}
}

h4, .displaySmall {
	font-family: $title-font;
	color: $text-dark-color;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.01em;

	@include mq(tabletp) {
		font-size: 20px;
	}

	@include mq(laptop) {
		font-size: 20px;
	}
}

h5, .heading {
	font-family: $body-font;
	color: $text-dark-color;
	margin-top: 24px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing: -0.01em;

	@include mq(tabletp) {
		font-size: 22px;
	}

	@include mq(laptop) {
		font-size: 24px;
	}
}

h6, .subHeading {
	font-family: $body-font;
	margin-top: 24px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.01em;

	@include mq(tabletp) {
		font-size: 22px;
	}

	@include mq(laptop) {
		font-size: 24px;
	}
}

p, ul, ol {
	margin: 0 0 24px 0;
	max-width: 32em;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0;

	&.paragraphLarge,
	&.lead {
		font-size: 1.25em;
	}

	&.caption {
		font-size: 0.9em;
	}

	strong, .strong, &.strong {
		font-weight: 700;
		color: $text-dark-color;
	}

	&:first-child {
		margin-top: 0;
	}
}

ul, ol {
	list-style: none;
}

blockquote {
	margin: 1rem 0;
	font-size: 32px;
	font-weight: 400;
	letter-spacing: -0.02em;
	line-height: 1.2;
	color: $text-dark-color;


	@include mq(tabletp) {
		font-size: 44px;
	}

	@include mq(laptop) {
		font-size: 56px;

		span {
			margin-left: -0.5rem;
		}
	}

}

a {
	text-decoration: none;
	color: $text-dark-color;

	&:hover {
		color: $text-medium-color;
	}
}

.button {
	margin-top: 16px;
	display: inline-block;
	padding: 10px 12px;
	font-size: 16px;
	line-height: 1;
	border: 2px solid $accent-color;
	background: $accent-color;
	color: $text-dark-color;
	font-weight: 600;
	letter-spacing: -0.01em;
	cursor: pointer;
	border-radius: 40px;

	@include mq(tabletp) {
		padding: 12px 20px;
		font-size: 16px;
	}

	&:hover {
		background: transparent;
		color: $text-dark-color;
	}

	svg {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
			margin-left: 5px;
		}

		@include mq(tabletp) {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
				margin-left: 8px;
			}
		}
	}
}


hr {
	margin: 1em 0;
	border: 0;
	height: 1px;
	background: $border-color;
	width: 100%;
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Page loading

.page-loader {
	display: none;
}

.page {
	@include transition(all 0.6s cubic-bezier(.87,-.41,.19,1.44));
}

body.loading {

	.loader {
		opacity: 1;
		visibility: visible;
		@include transition(all 0.4s ease-in-out 1s);
	}

	.page {
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.4s ease-in-out, transform 0s ease-in-out 0.4s);
		@include translate(0,5px);
	}

	.footer {
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.4s ease-in-out);
	}
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	@include translate(-50%,-50%);
	width: 60px;

	opacity: 0;
	visibility: hidden;
	@include transition(all 0.2s ease-in-out);

}

.page,
.page__content {
	float: left;
	clear: both;
	width: 100%;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Background Colors

.bg-white { 
	background: $background-color; 
}

.bg-light { 
	background: $background-alt-color; 
}

.bg-dark { 
	background: $text-dark-color; 
	color: $background-color;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Page sections

section {

	padding: 2em 0;

	&:first-child {
		padding-top: 0;
	}
}

.page-sidebar {
	padding-top: 0 !important;

	.wrap {
		padding-top: 6em;

		p {
			max-width: 40em;
		}
	}
}

@include mq(tabletl) {

	.five-sixths,
	.four-sixths,
	.four-fifths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 6.66666666667%;
	}
	.one-half {width: 46.6666666667%;}
	.one-third {width: 28.8888888889%;} 
	.two-thirds {width: 64.4444444444%;}
	.one-fourth {width: 20%;} 
	.three-fourths {width: 73.3333333333%;} 
	.one-fifth {width: 14.6666666667%;} 
	.two-fifths {width: 36%;} 
	.three-fifths {width: 57.3333333333%;} 
	.four-fifths {width: 78.6666666667%;} 
	.one-sixth {width: 11.1111111111%;} 
	.five-sixths {width: 82.2222222222%;}
	.first {clear: both; margin-left: 0;}
}


.wrap {
	position: relative;
    display: grid;
    grid-column-gap: 16px;
    padding: 0 16px;
    margin-right: auto;
    margin-left: auto;
	width: 100%;
	max-width: 98em;
	grid-template-columns: repeat(12, [column] 1fr);

	.start-1	{grid-column-start: 1 column;}
	.start-2	{grid-column-start: 2 column;}
	.start-3	{grid-column-start: 3 column;}
	.start-4	{grid-column-start: 4 column;}
	.start-5	{grid-column-start: 5 column;}
	.start-6	{grid-column-start: 6 column;}
	.start-7	{grid-column-start: 7 column;}
	.start-8	{grid-column-start: 8 column;}
	.start-9	{grid-column-start: 9 column;}
	.start-10	{grid-column-start: 10 column;}
	.start-11 	{grid-column-start: 11 column;}
	.start-12 	{grid-column-start: 12 column;}
	.span-1	 	{grid-column-end: span 1;}
	.span-2		{grid-column-end: span 2;}
	.span-3		{grid-column-end: span 3;}
	.span-4		{grid-column-end: span 4;}
	.span-5		{grid-column-end: span 5;}
	.span-6		{grid-column-end: span 6;}
	.span-7		{grid-column-end: span 7;}
	.span-8		{grid-column-end: span 8;}
	.span-9		{grid-column-end: span 9;}
	.span-10	{grid-column-end: span 10;}
	.span-11	{grid-column-end: span 11;}
	.span-12	{grid-column-end: span 12;}

	@include mq(tabletp) {

		grid-column-gap: 16px;

        .sm-start-1	 {grid-column-start: 1 column;}
        .sm-start-2	 {grid-column-start: 2 column;}
        .sm-start-3	 {grid-column-start: 3 column;}
        .sm-start-4	 {grid-column-start: 4 column;}
        .sm-start-5	 {grid-column-start: 5 column;}
        .sm-start-6	 {grid-column-start: 6 column;}
        .sm-start-7	 {grid-column-start: 7 column;}
        .sm-start-8	 {grid-column-start: 8 column;}
        .sm-start-9	 {grid-column-start: 9 column;}
        .sm-start-10 {grid-column-start: 10 column;}
        .sm-start-11 {grid-column-start: 11 column;}
        .sm-start-12 {grid-column-start: 12 column;}
        .sm-span-1	 {grid-column-end: span 1;}
        .sm-span-2	 {grid-column-end: span 2;}
        .sm-span-3	 {grid-column-end: span 3;}
        .sm-span-4	 {grid-column-end: span 4;}
        .sm-span-5	 {grid-column-end: span 5;}
        .sm-span-6	 {grid-column-end: span 6;}
        .sm-span-7	 {grid-column-end: span 7;}
        .sm-span-8	 {grid-column-end: span 8;}
        .sm-span-9	 {grid-column-end: span 9;}
        .sm-span-10	 {grid-column-end: span 10;}
        .sm-span-11	 {grid-column-end: span 11;}
        .sm-span-12	 {grid-column-end: span 12;}
	}

	@include mq(tabletl) {

		grid-column-gap: 16px;


		.md-start-1	 {grid-column-start: 1 column;}
		.md-start-2  {grid-column-start: 2 column;}
		.md-start-3  {grid-column-start: 3 column;}
		.md-start-4  {grid-column-start: 4 column;}
		.md-start-5  {grid-column-start: 5 column;}
		.md-start-6  {grid-column-start: 6 column;}
		.md-start-7  {grid-column-start: 7 column;}
		.md-start-8  {grid-column-start: 8 column;}
		.md-start-9  {grid-column-start: 9 column;}
		.md-start-10 {grid-column-start: 10 column;}
		.md-start-11 {grid-column-start: 11 column;}
		.md-start-12 {grid-column-start: 12 column;}
		.md-span-1   {grid-column-end: span 1;}
		.md-span-2 	 {grid-column-end: span 2;}
		.md-span-3 	 {grid-column-end: span 3;}
		.md-span-4 	 {grid-column-end: span 4;}
		.md-span-5 	 {grid-column-end: span 5;}
		.md-span-6 	 {grid-column-end: span 6;}
		.md-span-7   {grid-column-end: span 7;}
		.md-span-8 	 {grid-column-end: span 8;}
		.md-span-9 	 {grid-column-end: span 9;}
		.md-span-10  {grid-column-end: span 10;}
		.md-span-11  {grid-column-end: span 11;}
		.md-span-12  {grid-column-end: span 12;}
	}

	@include mq(laptop) {

		grid-column-gap: 32px;

		padding: 0 32px;

		.lg-start-1	 {grid-column-start: 1 column;}
        .lg-start-2	 {grid-column-start: 2 column;}
        .lg-start-3	 {grid-column-start: 3 column;}
        .lg-start-4	 {grid-column-start: 4 column;}
        .lg-start-5	 {grid-column-start: 5 column;}
        .lg-start-6	 {grid-column-start: 6 column;}
        .lg-start-7	 {grid-column-start: 7 column;}
        .lg-start-8	 {grid-column-start: 8 column;}
        .lg-start-9	 {grid-column-start: 9 column;}
        .lg-start-10 {grid-column-start: 10 column;}
        .lg-start-11 {grid-column-start: 11 column;}
        .lg-start-12 {grid-column-start: 12 column;}
        .lg-span-1	 {grid-column-end: span 1;}
        .lg-span-2	 {grid-column-end: span 2;}
        .lg-span-3	 {grid-column-end: span 3;}
        .lg-span-4	 {grid-column-end: span 4;}
        .lg-span-5	 {grid-column-end: span 5;}
        .lg-span-6	 {grid-column-end: span 6;}
        .lg-span-7	 {grid-column-end: span 7;}
        .lg-span-8	 {grid-column-end: span 8;}
        .lg-span-9	 {grid-column-end: span 9;}
        .lg-span-10	 {grid-column-end: span 10;}
        .lg-span-11	 {grid-column-end: span 11;}
        .lg-span-12	 {grid-column-end: span 12;}
	}

}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Padding/Margin

.pt0 {padding-top: 0 !important;}
.pt1 {padding-top: 1em;}
.pt2 {padding-top: 2em;}
.pt3 {padding-top: 3em;}
.pt4 {padding-top: 4em;}
.pt5 {padding-top: 5em;}
.pt6 {padding-top: 6em;}
.pt7 {padding-top: 7em;}
.pt8 {padding-top: 8em;}
.pt9 {padding-top: 9em;}
.pt10 {padding-top: 10em;}

.pb0 {padding-bottom: 0;}
.pb1 {padding-bottom: 1em;}
.pb2 {padding-bottom: 2em;}
.pb3 {padding-bottom: 3em;}
.pb4 {padding-bottom: 4em;}
.pb5 {padding-bottom: 5em;}
.pb6 {padding-bottom: 6em;}
.pb7 {padding-bottom: 7em;}
.pb8 {padding-bottom: 8em;}
.pb9 {padding-bottom: 9em;}
.pb10 {padding-bottom: 10em;}

.mt0 {margin-top: 0;}
.mt1 {margin-top: 1em;}
.mt2 {margin-top: 2em;}
.mt3 {margin-top: 3em;}
.mt4 {margin-top: 4em;}
.mt5 {margin-top: 5em;}
.mt6 {margin-top: 6em;}
.mt7 {margin-top: 7em;}
.mt8 {margin-top: 8em;}
.mt9 {margin-top: 9em;}
.mt10 {margin-top: 10em;}

.mb0 {margin-bottom: 0;}
.mb1 {margin-bottom: 1em;}
.mb2 {margin-bottom: 2em;}
.mb3 {margin-bottom: 3em;}
.mb4 {margin-bottom: 4em;}
.mb5 {margin-bottom: 5em;}
.mb6 {margin-bottom: 6em;}
.mb7 {margin-bottom: 7em;}
.mb8 {margin-bottom: 8em;}
.mb9 {margin-bottom: 9em;}
.mb10 {margin-bottom: 10em;}

	@include mq(tabletp) {

		.sm-pt0 {padding-top: 0 !important;}
		.sm-pt1 {padding-top: 1em;}
		.sm-pt2 {padding-top: 2em;}
		.sm-pt3 {padding-top: 3em;}
		.sm-pt4 {padding-top: 4em;}
		.sm-pt5 {padding-top: 5em;}
		.sm-pt6 {padding-top: 6em;}
		.sm-pt7 {padding-top: 7em;}
		.sm-pt8 {padding-top: 8em;}
		.sm-pt9 {padding-top: 9em;}
		.sm-pt10 {padding-top: 10em;}

		.sm-pb0 {padding-bottom: 0;}
		.sm-pb1 {padding-bottom: 1em;}
		.sm-pb2 {padding-bottom: 2em;}
		.sm-pb3 {padding-bottom: 3em;}
		.sm-pb4 {padding-bottom: 4em;}
		.sm-pb5 {padding-bottom: 5em;}
		.sm-pb6 {padding-bottom: 6em;}
		.sm-pb7 {padding-bottom: 7em;}
		.sm-pb8 {padding-bottom: 8em;}
		.sm-pb9 {padding-bottom: 9em;}
		.sm-pb10 {padding-bottom: 10em;}

		.sm-mt0 {margin-top: 0;}
		.sm-mt1 {margin-top: 1em;}
		.sm-mt2 {margin-top: 2em;}
		.sm-mt3 {margin-top: 3em;}
		.sm-mt4 {margin-top: 4em;}
		.sm-mt5 {margin-top: 5em;}
		.sm-mt6 {margin-top: 6em;}
		.sm-mt7 {margin-top: 7em;}
		.sm-mt8 {margin-top: 8em;}
		.sm-mt9 {margin-top: 9em;}
		.sm-mt10 {margin-top: 10em;}

		.sm-mb0 {margin-bottom: 0;}
		.sm-mb1 {margin-bottom: 1em;}
		.sm-mb2 {margin-bottom: 2em;}
		.sm-mb3 {margin-bottom: 3em;}
		.sm-mb4 {margin-bottom: 4em;}
		.sm-mb5 {margin-bottom: 5em;}
		.sm-mb6 {margin-bottom: 6em;}
		.sm-mb7 {margin-bottom: 7em;}
		.sm-mb8 {margin-bottom: 8em;}
		.sm-mb9 {margin-bottom: 9em;}
		.sm-mb10 {margin-bottom: 10em;}

	}

	@include mq(tabletl) { 
		.md-pt0 {padding-top: 0 !important;}
		.md-pt1 {padding-top: 1em;}
		.md-pt2 {padding-top: 2em;}
		.md-pt3 {padding-top: 3em;}
		.md-pt4 {padding-top: 4em;}
		.md-pt5 {padding-top: 5em;}
		.md-pt6 {padding-top: 6em;}
		.md-pt7 {padding-top: 7em;}
		.md-pt8 {padding-top: 8em;}
		.md-pt9 {padding-top: 9em;}
		.md-pt10 {padding-top: 10em;}

		.md-pb0 {padding-bottom: 0;}
		.md-pb1 {padding-bottom: 1em;}
		.md-pb2 {padding-bottom: 2em;}
		.md-pb3 {padding-bottom: 3em;}
		.md-pb4 {padding-bottom: 4em;}
		.md-pb5 {padding-bottom: 5em;}
		.md-pb6 {padding-bottom: 6em;}
		.md-pb7 {padding-bottom: 7em;}
		.md-pb8 {padding-bottom: 8em;}
		.md-pb9 {padding-bottom: 9em;}
		.md-pb10 {padding-bottom: 10em;}

		.md-mt0 {margin-top: 0;}
		.md-mt1 {margin-top: 1em;}
		.md-mt2 {margin-top: 2em;}
		.md-mt3 {margin-top: 3em;}
		.md-mt4 {margin-top: 4em;}
		.md-mt5 {margin-top: 5em;}
		.md-mt6 {margin-top: 6em;}
		.md-mt7 {margin-top: 7em;}
		.md-mt8 {margin-top: 8em;}
		.md-mt9 {margin-top: 9em;}
		.md-mt10 {margin-top: 10em;}

		.md-mb0 {margin-bottom: 0;}
		.md-mb1 {margin-bottom: 1em;}
		.md-mb2 {margin-bottom: 2em;}
		.md-mb3 {margin-bottom: 3em;}
		.md-mb4 {margin-bottom: 4em;}
		.md-mb5 {margin-bottom: 5em;}
		.md-mb6 {margin-bottom: 6em;}
		.md-mb7 {margin-bottom: 7em;}
		.md-mb8 {margin-bottom: 8em;}
		.md-mb9 {margin-bottom: 9em;}
		.md-mb10 {margin-bottom: 10em;}
	}

	@include mq(laptop) {

		.lg-pt0 {padding-top: 0 !important;}
		.lg-pt1 {padding-top: 1em;}
		.lg-pt2 {padding-top: 2em;}
		.lg-pt3 {padding-top: 3em;}
		.lg-pt4 {padding-top: 4em;}
		.lg-pt5 {padding-top: 5em;}
		.lg-pt6 {padding-top: 6em;}
		.lg-pt7 {padding-top: 7em;}
		.lg-pt8 {padding-top: 8em;}
		.lg-pt9 {padding-top: 9em;}
		.lg-pt10 {padding-top: 10em;}

		.lg-pb0 {padding-bottom: 0;}
		.lg-pb1 {padding-bottom: 1em;}
		.lg-pb2 {padding-bottom: 2em;}
		.lg-pb3 {padding-bottom: 3em;}
		.lg-pb4 {padding-bottom: 4em;}
		.lg-pb5 {padding-bottom: 5em;}
		.lg-pb6 {padding-bottom: 6em;}
		.lg-pb7 {padding-bottom: 7em;}
		.lg-pb8 {padding-bottom: 8em;}
		.lg-pb9 {padding-bottom: 9em;}
		.lg-pb10 {padding-bottom: 10em;}

		.lg-mt0 {margin-top: 0;}
		.lg-mt1 {margin-top: 1em;}
		.lg-mt2 {margin-top: 2em;}
		.lg-mt3 {margin-top: 3em;}
		.lg-mt4 {margin-top: 4em;}
		.lg-mt5 {margin-top: 5em;}
		.lg-mt6 {margin-top: 6em;}
		.lg-mt7 {margin-top: 7em;}
		.lg-mt8 {margin-top: 8em;}
		.lg-mt9 {margin-top: 9em;}
		.lg-mt10 {margin-top: 10em;}

		.lg-mb0 {margin-bottom: 0;}
		.lg-mb1 {margin-bottom: 1em;}
		.lg-mb2 {margin-bottom: 2em;}
		.lg-mb3 {margin-bottom: 3em;}
		.lg-mb4 {margin-bottom: 4em;}
		.lg-mb5 {margin-bottom: 5em;}
		.lg-mb6 {margin-bottom: 6em;}
		.lg-mb7 {margin-bottom: 7em;}
		.lg-mb8 {margin-bottom: 8em;}
		.lg-mb9 {margin-bottom: 9em;}
		.lg-mb10 {margin-bottom: 10em;}

	}