// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -


.footer {
	border-top: 1px solid $border-color;
	@include transition(all 0.4s ease-in-out 0.8s);
	padding: 2em 0;
	margin-top: 3em;

	.menu-list {
		padding: 0;
		margin-bottom: 2em;

		.menu-list-item {
			display: block;
			margin: 0;
		}
	}

	.copyright {
		margin-top: 20em;

		span {
			margin-top: 10px;
			display: block;
		}
	}
}