// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -


.footer {
	@include transition(all 0.4s ease-in-out 0.8s);
	padding: 2em 0;

	a {
		color: #fff;
	}

	.overline-mark  {
	
		.circle-one, .circle-two {
			border-color: #fff;
		}

		.line {
			background: #fff;
		}
	}

	.menu-list {
		padding: 0;
		margin-bottom: 2em;

		.menu-list-item {
			display: block;
			margin: 0;

			.menu-list-item-link {
				font-size: 32px;
			}
		}
	}

	.copyright {
		margin-top: 20em;

		span {
			margin-top: 10px;
			display: block;
		}
	}
}