// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -


@keyframes circle-one {
	0% {top: 0;}
	45% {top: 0;}
	55% {top: 16px;}
	100% {top: 16px;}
}
  
@keyframes circle-two {
	0% {bottom: 0;}
	45% {bottom: 0;}
	55% {bottom: 16px;}
	100% {bottom: 16px;}
}
  
@keyframes line {
	0% {transform: rotate(0deg);}
	45% {transform: rotate(0deg);}
	55% {transform: rotate(180deg);}
	100% {transform: rotate(180deg);}
}

.overline-mark {
	display: block;
	position: relative;
	height: 56px;
	width: 56px;
	
	* { 
		transition: all .2s ease-in-out;
		animation-duration: 7s;
		animation-iteration-count: infinite;
		position: absolute;
	}
  
	.circle-one,
	.circle-two {
		width: 40px;
		height: 40px;
		left: calc(50% - 20px);
		border: 2px solid #000;
		border-radius: 24px;
		display: block;
	}
	
	.circle-one {
		top: 0;
		animation-name: circle-one;
	}
	
	.circle-two {
		bottom: 0;
		animation-name: circle-two;
	}
	
	.line {
		width: 56px;
		top: calc(50% - 1px);
		left: 0;
		right: 0;
		height: 2px;
		background: #000;
		animation-name: line;
	}
	
	// &:hover {
	// 	.circle-one {animation-name: circle-one;}
	// 	.circle-two {animation-name: circle-two;}
	// 	.line {animation-name: line;} 
	// }
	
}

.footer {
	border-top: 1px solid $border-color;
	@include transition(all 0.4s ease-in-out 0.8s);
	padding: 2em 0;
	margin-top: 3em;

	.menu-list {
		padding: 0;
		margin-bottom: 2em;

		.menu-list-item {
			display: block;
			margin: 0;
		}
	}

	.copyright {
		margin-top: 20em;

		span {
			margin-top: 10px;
			display: block;
		}
	}
}