// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {

	@include mq(tabletl) {
		margin: -$grid-spacing/2;
	}
}

.portfolio-item {
	position: relative;
	margin-bottom: 56px;

	.portfolio-item__title {
		font-weight: 400;
	}

	@include mq(tabletl) {
		padding: $grid-spacing/2;
		float: left;
		width: 50%;
	}
}

.portfolio-item__link {
	position: relative;
	display: block;

	.portfolio-item__services {

		@include mq(laptop) {
			opacity: 0;
		}
			
	}

	&:hover {

		.portfolio-item__services {
			opacity: 1;
		}
	}

}

.portfolio-item__image {
	width: 100%;
}

.portfolio-item__content {
	padding-top: 24px;

}

.project-intro p {

	@include mq(laptop) {
		font-size: 1.5em;
	}
	
}