---
layout: default
---

<section class="project-cover-media">
	{% if page.cover_video %}
		<div class="vimeo-container" style="position: relative; padding-top: 56.25%;">
			<iframe src="{{ page.cover_video }}" style="position:absolute; top:0; left:0; width:100%; height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		</div>
	{% else %}
		<img src="{{ page.cover_image | relative_url }}" />
	{% endif %}
</section>

<section class="intro">

	<div class="wrap">

		<div class="project-title span-12 md-span-6">
			<h2 class="displayLarge">{{page.title}}</h2>
		</div>

		<div class="project-intro span-12 md-span-6 md-start-7">
			<p>{{ page.intro }}</p>
		</div>
		
	</div>

</section>

<section class="content">

	<div class="wrap">
		{{ page.content }}
	</div>

</section>