---
layout: default
---

<section class="project-cover-media">
	{% if page.cover_video %}
		<iframe src="{{ page.cover_video }}?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1" width="1920px" height="1080px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	{% else %}
		<img src="{{ page.cover_image | relative_url }}" />
	{% endif %}
</section>

<section class="intro">

	<div class="wrap mt0 sm-mt10 mb10">

		<div class="project-title span-12 md-span-6">
			<h2 class="displayLarge">{{page.title}}</h2>
		</div>

		<div class="project-intro span-12 md-span-6 md-start-7">
			<p>{{ page.intro }}</p>
		</div>
		
	</div>

</section>

<section class="content">

	<div class="wrap">
		{{ page.content }}
	</div>

</section>

<hr />

<section class="project-navigation pb6 mb6">

	<div class="wrap">

		
		<div class="span-12 sm-span-6 sm-start-7 pb6 text-align-right">
			
			<p class="mb1">Next Up</p>
			{% if page.previous.url%}
				<a class="displayLarge" href="{{page.previous.url | relative_url }}">{{page.previous.title}}</a>
			{% else %}
				<a class="displayLarge" href="{{site.url | relative_url}}">All Projects</a>
			{% endif %}
			
	  </div>
	  
	</div>
	
</section>